{# base.html baseテンプレート #} 
<!DOCTYPE html>
<html lang="ja">
<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="my page">
    <meta name="author" content="my name">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
    <title>{% block title %}no title{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2021 by <a href="#">my company</a>.
        {% endblock %}
    </div>    
</body>
</html>